# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

install/certs/
*.pem

node_modules/

npm-debug.log

.imdone/config.json
data/samples/*

build/
dist/

.vscode/
debug
*.bu

.vagrant
malice-beta

utils/tomlupdate/tomlupdate

coverage.txt
data/befb88b89c2eb401900a68e9f5b78764203f2b48264fcc3f7121bf04a57fd408
data/output.md
.helpers/
